body{
    background-color: rgb(180, 224, 239);
    color:black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif; /* Changes the default font-family of new elements within body tags */
}

p{
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin-bottom: 20px;
}

table{
    margin-bottom: 20px;
}

.section-box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.games {
    padding: 10px;
}

.skills{
    padding: 10px;
}

#main-header { /* Changes only the main-header id */
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-decoration: underline;
}

a {
    color: rgb(128, 0, 128); /* Changes the default color of links */
    text-decoration: underline;
    padding: 10px;
}

a:hover{
    color: rgb(255, 0, 0); /* Applies when links are hovered */
}